#frame {
	width: 150mm;
	height: 210mm;
	border-style: dotted; 
	position: relative;
	text-align: center ;
	margin-left: auto;
    margin-right: auto;
}

#label {
	padding-top: 20px;
	width: 95mm;
	height: 190mm;
	position: relative;
	text-align: center ;
	margin-left: auto;
    margin-right: auto;
}

#from {
	bottom: 5px;
	position: relative;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.form-control {
	height: 50px;
	font-size: 30px;
	border: 0px;
	box-shadow: none;
	padding: 0px 12px;
}
